<%= link_to 'Назад', tests_path %>

<h1>Вопросы к тесту <%= @test.title %></h1>

<p>
  <%= link_to 'Добавить вопрос', new_test_question_path %>
</p>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th colspan="3">Действия</th>
    </tr>
  </thead>

  <tbody>
  <%= render @questions %>
  </tbody>
</table>