<% content_for :title do %>
  Добавить вопрос к тесту <%= @test.title %>
<% end %>

<%= link_to 'Назад', test_questions_path %>

<h1>Добавьте вопрос к тесту "<%= @test.title %>"</h1>

<%= render 'form', question: @question, submit_text: "Создать вопрос" %>
