<tr data-test-id=<%= badge.id %>>
  <td class="align-content-center">
    <div class="d-flex align-content-center" style="min-height: 3rem; min-width: 330px;">
      <span><%= badge.name %></span>
    </div>
  </td>
  <td><img src=<%= badge.image_url %> width="50" height="50" /></td>
  <td class="align-content-center">
    <%= button_to(
          t(badge.active ? "common.actions.deactivate" : "common.actions.activate"),
          admin_badge_path(badge),
          method: :patch,
          params: { badge: { active: !badge.active } },
          class: "btn btn-secondary"
        ) %>
  </td>
</tr>
