<%= link_to t("common.back"), admin_gists_path, class: "btn btn-secondary mb-2" %>

<h1 class="mb-2"><%= @gist.question %></h1>

<p class="lead mb-4">
  <%= link_to @gist.url, safe_link_to(@gist.url) %>
</p>

<p>
  <%= link_to @gist.user.email, "mailto:#{@gist.user.email}" %>
</p>
