<li>
	<%= answer.body %><br>
	<%= link_to 'Показать', admin_answer_path(answer) %> |
	<%= link_to 'Редактировать', edit_admin_answer_path(answer) %> |
	<%= link_to 'Удалить',
				admin_answer_path(answer),
				method: :delete,
				data: { "turbo-method": :delete, turbo_confirm: 'Вы уверены?' } %>
</li>
