<% content_for :title do %>
  <%= t("helpers.answers.header.new", question: @answer.question.body) %>
<% end %>

<%= link_to t("common.back"), admin_question_path(@answer.question) %>

<h1>
  <%= t("helpers.answers.header.new", question: @answer.question.body) %>
</h1>

<%= render 'form', question: @answer.question, submit_text: t("helpers.submit.create", model: Answer.model_name.human) %>
