<%= link_to t("common.back"), admin_test_path(@test), class: "btn btn-secondary mb-2" %>

<h1 class="mb-4">
  <%= t("helpers.questions.header.new", test: @test.title) %>
</h1>

<%= render 'form', question: @question, submit_text: t("helpers.submit.create", model: Question.model_name.human) %>
