.logo {
  display: block;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.nav.user{
  text-align: right;
}

.user-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav.nav-admin {
  height: 35px;
  padding: 15px;
  line-height: 35px;
  color: #ffffff;
  background-color: #4293e6;
  margin-bottom: 40px;
}

.nav-admin.title {
  font-size: 140%;
  font-weight: bold;
}

.nav-admin.user {
  float: right;
}

.nav-admin.user-email {
  text-decoration: underline;
}

.nav.nav-admin
a {
  color: #ffffff;
}