<tr>
  <td class="align-content-center"><%= test.title %></td>
  <td class="align-content-center"><%= test_level(test) %></td>
  <td class="align-content-center"><%= test.questions.count %></td>
  <td class="align-content-center"s><%= button_to t("common.start"), start_test_path(test), class: "btn btn-primary" %></td>
</tr>
