<%= link_to 'Back', tests_path %>

<h1><%= @test.name %></h1>
<p>Level - <%= @test.level %></p>

<table>
  <caption>Test questions</caption>

  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
  <%= render @test.questions %>
  </tbody>
</table>