<footer>
  <div>
    <p><%= current_year %></p>
    <p>Slava Haikin</p>
    <p>A collection of tests designed for developers to assess and validate their knowledge and skills.</p>
    <p><%= github_url('vyachowski', 'test-guru') %></p>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank' %>
  </div>
</footer>