<footer>
  <div>
    <p><%= current_year %> год</p>
    <p>Андреев Вячеслав</p>
    <p>Набор тестов для разработчиков для проверки и подтверждения их знаний и навыков.</p>
    <p><%= github_url('vyachowski', 'test-guru') %></p>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank' %>
  </div>
</footer>